# Database
MATCH_CHAT_DATABASE_URL=YOUR_DATABASE_URL_HERE

# App
PORT=3003
NODE_ENV=development
API_PREFIX=api/v1/chat
API_DOCS_PATH=api/docs/match-chat
CORS_ORIGINS=*

# Internal services
USER_SERVICE_URL=http://localhost:3001
