# Database
MATCH_CHAT_DATABASE_URL=YOUR_DATABASE_URL_HERE
REDIS_URL=redis://default:password@host:6379
PUBSUB_RECONNECT_INTERVAL_MS=5000
PUBSUB_POLL_INTERVAL_MS=5000
REDIS_STREAM_MAXLEN=10000
CHAT_MESSAGE_ENCRYPTION_KEY=base64-32-byte-key

# App
PORT=3003
NODE_ENV=development
API_PREFIX=v1/matchchat
API_DOCS_PATH=v1/matchchat/docs
CORS_ORIGINS=*
