# Database
MATCH_CHAT_DATABASE_URL=YOUR_DATABASE_URL_HERE
PUBSUB_DATABASE_URL=YOUR_PUBSUB_DATABASE_URL_HERE
PUBSUB_RECONNECT_INTERVAL_MS=5000
PUBSUB_POLL_INTERVAL_MS=5000

# App
PORT=3003
NODE_ENV=development
API_PREFIX=v1/matchchat
API_DOCS_PATH=v1/matchchat/docs
CORS_ORIGINS=*

# Internal services
USER_SERVICE_URL=http://localhost:3001
